.home {
	.cta {
		.flex(space-around, stretch, column, wrap);
		border-bottom: 2px dashed @navigation-border;

		img {
			margin-bottom: 22px;
			width: 100%;
			height: auto;
		}

		p {
			margin-bottom: 10px;
		}
	}
	.content-section {
		margin: 30px 0;
		.flex(space-between, stretch, row, wrap);

		.text-content {
			width: 48%;
			padding-right: 1%;
		}

		.img-content {
			width: 48%;
			padding-left: 1%;

			img {
				border-radius: 10px;
				@media @mobile {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.inverse-content {
		padding-bottom: 30px;
		border-bottom: 2px dashed @navigation-border;

		.text-content {
			padding-left: 1%;
			padding-right: 0;
		}

		.img-content {
			padding-right: 1%;
			padding-left: 0;
		}
	}

	.content-destination {
		width: 75%;
		margin: 0 auto 30px;

		@media @mobile {
			width: 94%;
			margin: 0;
			margin-bottom: 30px;
		}
		img {
			border-radius: 10px;
		}
	}

	.content-pick {
		padding-top: 30px;
		border-top: 2px dashed @navigation-border;
		.flex(space-between, stretch, row, nowrap);

		.destination {
			width: 30%;
			margin-bottom: 30px;
		}
		.btn {
			.button(83%, 45px, 15px, @button-bg, @font-color, 1.7rem);
		}
	}
} // home
